* {
    margin: 0;
    padding: 0;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 6fr;
    background-color: #9ca3af;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
    height: 15vh;
}

.dashboard-icon {
    width: 6vw;
    height: 6vh;
}

.other-tools{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    place-items: center;
}

.misc-icon {
    width: 4vw;
    height: 4vh;
    align-self: right;
}

.key-tools{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    height: 5vh;
}
